<footer class="footer">
    
    <div class="social-links">

        <a href="https://github.com/GRMaruf" target="_blank">
            <i class="fab fa-github"></i>
        </a>

        <a href="https://linkedin.com/in/yourusername" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>

        <a href="https://twitter.com/yourusername" target="_blank">
            <i class="fab fa-x-twitter"></i>
        </a>

        <a href="mailto:yourmail@example.com">
            <i class="fas fa-envelope"></i>
        </a>

    </div>

    <p class="text-light">
        © 2026 All Rights Reserved.
    </p>

</footer>