<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand brand-dark" href="{% url 'home' %}"><b>Job Portal</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'find_job' %}">Find Job</a>
        </li>
        {% if request.user.is_authenticated %}
          {% if request.user.user_type == 'Seeker' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'seeker_dashboard' %}">Seek</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'recruiter_dashboard' %}">Recruit</a>
            </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' request.user.id %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% for x in messages %}
  <div class="alert alert-success">{{ x }}</div>
{% endfor %}
